html, body {
  box-sizing: border-box;
  color: $black;
  font-family: $playfair;
  font-size: 100% !important;
  height: 100%;
}

* {
  box-sizing: inherit;
}

.app {
  padding: 32px;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
